.list-panel {
  .panel {
    margin:0 (-$gutter);
    overflow-y:scroll;
    flex:1;
  }
}

.items-table {
  width:100%;
  td,
  th {
    padding:0.75em 1em 0.75em 0;
    font-size:0.8125em;
    input[type="checkbox"] {
      & + label {
        &::before {
          top:0;
        }
      }
    }
  }
  tr {
    cursor:default;
    > td:first-child,
    > th:first-child {
      padding-left:$gutter;
    }
  }
  thead {
    th {
      background:#e5e5e5;
    }
    td {
      border-top:1px solid #e2e2e2;
    }
  }
  tbody {
    td {
      border-bottom:1px solid #e8e8e8;
      transition:background-color 250ms;
      img {
        display:block;
        max-width:60px;
        max-height:60px;
        padding:2px;
        background-color:#fff;
      }
    }
    tr:hover {
      td {
        background:#eee;
      }
    }
  }
}
.browser {
  .dropdown-menu {
    position:absolute;
    input[type="checkbox"] {
      position:absolute;
      left:-9999px;
      + label{
        padding-left:28px;
        &:hover{
          background-color:#efefef;
        }
        &::before {
          top:10px;
          left:8px;
          font-size:12px;
        }
      }
    }
  }
}
