.browser-tabs-control {
  background:#fff;
  padding:$gutter $gutter $gutter*0.5;
  margin:0;
  list-style-type:none;
  width:25%;
  float:left;
  display:flex;
  li {
    padding:0;
    margin:0;
    flex:1;
    display:flex;
    a {
      font-size:0.75em;
      display:block;
      border:1px solid $btnprimary;
      color:$btnprimary;
      padding:0 0.25em;
      min-height:$btnHeight;
      text-align:center;
      cursor:pointer;
      text-decoration:none;
      border-left-width:0;
      display:flex;
      align-items:center;
      justify-content:center;
      flex:1;
      i {
        margin-right:0.125em;
      }
      &#search {
        i {
          font-size:18px;
        }
      }
    }
    &.active {
      a {
        background:$btnprimary;
        color:#fff;
        cursor:default;
      }
    }
    &:first-child {
      a {
        border-radius:$borderRadius 0 0 $borderRadius;
        border-left-width:1px;
      }
    }
    &:last-child {
      a {
        border-radius:0 $borderRadius $borderRadius 0;
      }
    }
  }
  &::after {
    clear:both;
    content:"";
    display:table;
  }
}


.browser.no_search .browser-tabs-control{display:none;}
.browser.no_tree .list-root{display:none;}
