.browser {
  .tree {
    list-style-type:none;
    margin:0;
    padding:0;
    li {
      font-size:0.875em;
      ul {
        display: none;
        padding:0;
        margin:0;
      }
      a {
        cursor:pointer;
        text-decoration:none;
        color:#444;
        padding:2px 3px;
      }
      &.item {
        line-height:24px;
        position:relative;
        padding-left:18px;
        list-style:none;
        > a {
          padding-left: 22px;
          position:relative;
          &::before {
            @extend %material-icons;
            content:"folder";
            position:absolute;
            left:0;
            top:2px;
            color:#222;
            font-size:16px;
            color:hsl(285, 0, 61);
          }
        }
        &.selected {
          > a {
            color:$btnprimary;
            font-weight:700;
          }
        }
      }
      &.has_children {
        &::before {
          @extend %material-icons;
          content:"add_box";
          position:absolute;
          left:0;
          font-size:15px;
          top:0.25em;
          cursor:pointer;
        }
        &.open {
          &::before {
            content:"indeterminate_check_box";
          }
        }
      }
      &.open {
        > a {
          &::before {
            content:"\f07c";
          }
        }
        > ul { display: block; }
      }
      &.loading {
        > a {
          &::before {
            content:"autorenew";
            color:#444;
            animation:load-spin 1.25s infinite linear;
          }
        }
      }
    }
  }
  .tree-panel,
  .search-panel {
    display:flex;
    flex-direction:column;
    select {
      border-radius:0;
      border:none;
      margin:0;
      background:hsl(0, 0, 87) url('../images/caret-down-b.svg') no-repeat;
      background-position:right 0.5714285714em center;
      background-size:1em auto;
      height:$btnHeight;
      font-size:0.75em;
      padding:0 2.25em 0 1em;
      appearance:none;
      width:100%;
      cursor:pointer;
      border-radius:$borderRadius;
      &[multiple] {
        height:auto;
        padding-top:0.25em;
        padding-bottom:0.25em;
        padding-left:0;
        background-position:right 0.5714285714em top 0.7em;
        option {
        }
      }
    }
    option {
      padding:0.125em 0.5em;
    }
    .panel {
      flex:1;
      background:$listBg;
      padding:$gutter;
      overflow-y:scroll;
      border-radius:$borderRadius;
    }
  }


  &.no_tree{
    .tree-panel{display:none;}
  }
}

@keyframes load-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
