// colors
$asidebg: hsl(210, 12, 23);
$asideinput: hsl(211, 13, 34);
$headerbg: hsl(0, 0, 18);
$headerbg2: hsl(210, 15, 32);
$headerColor: hsl(0, 0, 95);
$linkColor: hsl(194, 100, 39);
$btnprimary: $linkColor;
$highlightcolor: hsl(50, 90, 50);
$listBg: hsl(0, 0, 93);

// dimensions
$gutter: 15px;
$btnHeight: 36px;
$borderRadius: 2px;

%fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%flexcolumn {
  display:flex;
  flex-direction:column;
  flex:1;
}

%material-icon {
  @extend .material-icons;
}

%clearfix {
    &::after {
        display:table;
        clear:both;
        content:"";
    }
}
