$icon-font-path: "../fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import "variables";
@import "layout";
@import "tabs";
@import "tree";
@import "list";

.browser {
  .right-panel{
    position: relative;
    padding: 0px;
    border: none;
    .no-content{
      padding: 10px;
    }
  }
  input[type="checkbox"] {
    & + label {
      display:block;
      position:relative;
      padding:5px 5px 5px 20px;
      margin-bottom:0px;
      cursor:pointer;
      font-weight:normal;
      &::before {
        position:absolute;
        top:9px;
        left:0px;
        font-size:14px;
        color:gray;
        @extend %fontawesome;
      }
    }
    &:not(:checked), &:checked {
      position: absolute;
      left: -9999px;
    }
    &:not(:checked) + label {
      &::before {
        content: "\f096";
      }
    }
    &:checked + label {
      &::before {
        content: "\f046";
        color: green;
      }
    }

    &:disabled + label {
      &::before {
        color: gray;
      }
    }
  }
}

.form-group{
  margin-bottom: 5px;
}

.form-group.boolean{
  display: inline-block;
  width: 20%;
}

.selected-panel{
  padding-right: 0px;
}
.selected-items{
  overflow-y: scroll;
  max-height: 80px;
  margin-bottom: 0px;
  padding:0;
  &:empty{
    display: none;
  }
  li{
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.tab-pane{
  display: none;
}

.pagination-container{
  text-align: center;
}
