$icon-font-path: "../fonts/bootstrap/";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals";

*{
  padding: 0;
  margin: 0;
}

body{background:#333; }

.form-group{
  margin-bottom: 5px;
}

.form-group.boolean{
  display: inline-block;
  width: 20%;
}

.modal-header{
  min-height: 64px;
  .modal-title{
    font-size: 24px;
  }
}

.modal-body{
  h1{
    font-size: 24px;
    margin-top: -56px;
    margin-bottom: 40px;
  }
  .actions{
    display: none;
  }
}

input[type="checkbox"] {
  & + label{
    display: block;
    position: relative;
    padding: 5px 5px 5px 20px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: normal;
    & i {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 16px;
      color: gray;
    }
  }
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label {
    & i:before {
      content: "\e157";
    }
  }
  &:checked + label {
    & i:before {
      content: "\e067";
      color: green;
    }
  }
}


.browser{
  .modal-dialog{
    width: 98%;
    margin: 1%;
  }
  .modal-body{
    padding: 0 15px;
  }
  .modal-content{
    background: #f5f5f5;
  }
  .col{ padding: 0px; }
  .dropdown-menu{
    position: absoulte;
    input[type="checkbox"] {
      & + label{
        padding-left: 28px;
        &:hover{
          background-color: #efefef;
        }
        & i {
          top: 7px;
          left: 8px;
          font-size: 12px;
        }
      }
      &:not(:checked) + label {
        & i:before {
          content: "";
        }
      }
      &:checked + label{
        & i:before {
          color: #333;
          content: "\e013";
        }
      }
    }
  }
  .panel{
    height: 600px;
    overflow-y: scroll;
    margin-bottom: 0;
    padding: 10px;
  }
  .right-panel{
    position: relative;
    padding: 0px;
    border: none;
    .no-content{
      padding: 10px;
    }
    tr{
      cursor: pointer;
    }
    .list-root{
      td{
        padding: 20px 8px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd !important;
        border-bottom: 2px solid #ddd;
      }
    }
  }
  .header-col{
    padding: 20px 0;
  }
  .breadcrumb{
    padding: 10px 0px;
    margin-bottom: 0;
    & > li + li:before{
      content: "/";
      padding: 0 5px 0 10px;
      color: #999;
    }
  }
  .breadcrumb-list{
    float: left;
  }
  .breadcrumb-search{
    margin-left: 20px;
    display: inline-block;
  }
  .btn{
    height: 34px;
  }
  .btn-group{
    float: right;
    margin-right: 20px;
  }
  .btn:focus{
    background-color: #fff;
    outline: none;
  }
  .select {
    height: 34px;
    padding: 6px 12px;
    margin: 0 5%;
    border: 1px solid #ccc;
    width: 88%;
    border-radius: 3px;
    background-color: #fff;
    &:focus{
      outline: none;
    }
  }
  li{

  }
  .nav{
    a{
      color: #333;
    }
  }
  .tree{
    li{
      ul{
        display: none;
      }
      a{
        cursor: pointer;
        text-decoration: none;
        color: #333;
        span{
          padding: 2px 3px;
          border: 1px solid #fff;
        }
      }
      &.item{
        line-height: 24px;
        list-style: none;
        > a{
          padding-left: 22px;
          background: url('../images/folder.png') 0 0 no-repeat;
        }
      }
      &.selected{
        > a{
          span{
            background-color: #e5e5e5;
            border: 1px solid #a1ceed;
          }
        }
      }
      &.has_children{
        background: url('../images/plus.gif') left -1px no-repeat;
      }
      &.open{
        > ul{ display: block; }
      }
      &.has_children.open{
        background-image: url('../images/minus.gif');
      }
      &.item{
        padding-left: 18px;
      }
      &.item.selected{
        > a{
          color: #E24602;
        }
      }
      &.loading{
        > a{
          background: url('../images/ajax-loader.gif') 0 0 no-repeat;
        }
      }
    }
  }
  td{
    img{
      display: block;
      width: 64px;
      height: 64px;
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }
}

.selected-panel{
  padding-right: 0px;
}
.selected-items{
  overflow-y: scroll;
  max-height: 80px;
  margin-bottom: 0px;
  &:empty{
    display: none;
  }
  li{
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.tab-pane{
  display: none;
}

.pagination-container{
  text-align: center;
}

.pages-selector-container{
  text-align: center;
  select{
    height: 34px;
    padding: 6px 12px;
    margin: 0 5%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }
}
