$namespace: '.ngc .ngcb';

@import "fonts";

#{$namespace}{

  @import "variables";
  @import "layout";
  @import "tabs";
  @import "tree";
  @import "list";


  -webkit-font-smoothing:antialiased;
  .right-panel{
    position: relative;
    padding: 0px;
    border: none;
    .no-content{
      padding: 10px;
    }
  }
  input[type="checkbox"] {
    & + label {
      display:block;
      position:relative;
      padding:5px 5px 5px 20px;
      margin-bottom:0px;
      cursor:pointer;
      font-weight:normal;
      &::before {
        position:absolute;
        top:4px;
        left:0px;
        font-size:18px;
        color:gray;
        @extend %material-icon;
      }
      &:empty::before {
        top:-4px;
      }
    }
    &:not(:checked), &:checked {
      position: absolute;
      left: -9999px;
    }
    &:not(:checked) + label {
      &::before {
        content: "check_box_outline_blank";
      }
    }
    &:checked + label {
      &::before {
        content: "check_box";
        color: $btnprimary;
      }
    }

    &:disabled + label {
      &::before {
        color: lighten(gray, 20%);
      }
    }
  }



  .form-group{
    margin-bottom: 5px;
  }

  .form-group.boolean{
    display: inline-block;
    width: 20%;
  }

  .selected-panel{
    padding-right: 0px;
  }
  .selected-items{
    margin:0 0 -5px;
    padding:0;
    list-style-type:none;
    &:empty{
      display:none;
    }
    li {
      float:left;
      margin:0 5px 5px 0;
      .btn.btn-default {
        border:none;
        color:#444;
        font-weight:500;
        i {
          vertical-align:middle;
          font-size:18px;
          margin-left:6px;
          color:hsl(0, 0, 78);
        }
      }
    }
  }

  .tab-pane{
    //display: none;
  }
}
