node_modules
.tmp
.sass-cache
bower_components
app/bundle.js
app/scripts/templates.js
*.orig
*.log
coverage
*.sublime-workspace
*.ruby-version
releases
local_config.json
composer.lock
/vendor
.php_cs.cache
bundle/Resources/public/dev
