@value variables: './Variables.module.css';
@value gray93 from variables;

.items {
  flex: 1;
  background: gray93;
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 1em;
}

.header {
  display: flex;
  padding: .75em 1em;
  justify-content: space-between;
  align-items: center;
}

.fadeEnter {
  opacity: .01;
}

.fadeActiveEnter {
  opacity: 1;
  transition: opacity .2s;
}

.fadeExit {
  opacity: 1;
}

.fadeActiveExit {
  opacity: .01;
  transition: opacity .2s;
}
