@value variables: './Variables.module.css';
@value linkColor from variables;

.preview {
  width: 18em;
  position: relative;
  overflow-x: hidden;
}

.content {
  padding: 0 1em;
  width: 18em;
}

.preview a {
  color: linkColor;
  text-decoration: none;
}

.preview a:hover,
.preview a:focus {
  text-decoration: underline;
}

.preview figure {
  margin: 0;
}

.preview img {
  max-width: 100%;
}

.preview p {
  margin: 0 0 1em;
}

.preview :global .layout-icon {
  width: 90%;
  height: 0;
  padding-bottom: 130%;
  margin: 1em auto 0;
  border: 2px solid #a1a1a1;
  background-size: 95%;
  border-radius: 3px;
}

.slideEnter {
  width: 0;
  opacity: .01;
}

.slideActiveEnter {
  width: 18em;
  opacity: 1;
  transition: width .25s ease-out, opacity .15s;
}

.slideExit {
  width: 18em;
  opacity: 1;
}

.slideActiveExit {
  width: 0;
  opacity: .01;
  transition: width .25s ease-out, opacity .15s .1s;
}
