@value variables: './Variables.module.css';
@value fontPrimary, linkColor, gray93, gray60 from variables;

.wrapper {
  background: gray93;
  flex: 1;
  margin-top: .5em;
  padding: 1em;
}

.tree {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  background: transparent;
  cursor: pointer;
  font-family: fontPrimary;
  border: 0;
  padding: .25em 0;
  font-size: .875em;
  display: flex;
  align-items: center;
  transition: color .2s;
}

.active {
  color: linkColor;
  font-weight: 700;
}

.button:focus {
  outline: none;
}

.icon {
  color: gray60;
  display: flex;
  align-items: center;
  margin-right: .5em;
  font-size: 1.1428571429em;
}
