.checkbox {
  position: absolute;
  opacity: 0;
  left: -9999em;
  pointer-events: all;
}

.label {
  line-height: 1.2;
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.disabledLabel {
  composes: label;
  opacity: .5;
  cursor: not-allowed;
}

.icon {
  color: #808080;
  font-size: 1.1428571429em;
  margin-right: .35em;
  display: inline-flex;
}

.iconActive {
  composes: icon;
  color: #0098c7;
}
