.input {
  border: none;
  box-shadow: none;
  border-radius: 2px;
  font-size: .875em;
  padding: .7142857143em .875em;
  line-height: 1;
}

.prefixed {
  border-radius: 0 2px 2px 0;
}

.sufixed {
  border-radius: 2px 0 0 2px;
}
