<div class='tab-pane' id="browse-tab">
  <div class="browse-panels">
    <div class="tree-panel">
      <div class="header-col">
        <select class="root-items"></select>
      </div>
      <div class="panel">
        <ul class="tree"></ul>
      </div>
    </div>

    <div class="list-panel">
      <div class="header-col clearfix">
        <ul class="breadcrumb breadcrumb-list"></ul>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-link btn-preview">Preview <i class="fa fa-toggle-on"></i></button>
        </div>
      </div>
      <div class="panel right-panel">
        <div class="list"></div>
      </div>
    </div>

    <div class="preview-panel">
      <div class="panel">
        <div class="preview"></div>
      </div>
    </div>
  </div>
</div>
