<div class='tab-pane' id="browse-tab">
  <div class="browse-panels">
    <div class="tree-panel">
      <div class="header-col">
        <select class="root-items"></select>
      </div>
      <div class="panel">
        <ul class="tree"></ul>
      </div>
    </div>

    <div class="list-panel">
      <div class="header-col">
        <ul class="breadcrumb breadcrumb-list"></ul>
        <div class="list-options-dropdown dropdown"></div>
      </div>
      <div class="panel right-panel">
        <div class="list"></div>
      </div>
    </div>
    {{#if has_preview}}
      <div class="preview-panel">
        <div class="panel">
          <div class="preview"></div>
        </div>
      </div>
    {{/if}}

  </div>
</div>
