
  <table class="items-table">
    <thead>
      <tr>
        {{#each columns.models}}
          <th {{#unless visible}}class="hidden"{{/unless}} data-name="{{column_id}}">{{name}}</th>
        {{/each}}
      </tr>
      <tr class="list-root"></tr>
    </thead>

    <tbody class="children"></tbody>

  </table>

  <div class="pagination-control-container">
    {{paginate 'listview_collection'}}
    {{pages_selector 'listview_collection'}}
  </div>
