{{#if loading}}
  <div class="preview-loader">
    <i class="loading-ng-icon"></i>
    <p>Loading</p>
  </div>
{{else}}
  {{#if html}}
    {{{html}}}
  {{else}}
    This item does not have a preview.
  {{/if}}
{{/if}}
